body {
  margin:0px;
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u407 {
  position:absolute;
  left:108px;
  top:87px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Bold', 'Snell Roundhand Bold', 'Snell Roundhand';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9933;
}
#u408 {
  position:absolute;
  left:2px;
  top:15px;
  width:125px;
  word-wrap:break-word;
}
#u409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u409 {
  position:absolute;
  left:672px;
  top:87px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Bold', 'Snell Roundhand Bold', 'Snell Roundhand';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9933;
}
#u410 {
  position:absolute;
  left:2px;
  top:15px;
  width:125px;
  word-wrap:break-word;
}
#u411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u411 {
  position:absolute;
  left:19px;
  top:10px;
  width:45px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u412 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u413 {
  position:absolute;
  left:185px;
  top:10px;
  width:274px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u414 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u415_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1214px;
  height:19px;
}
#u415 {
  position:absolute;
  left:108px;
  top:219px;
  width:1199px;
  height:4px;
}
#u416 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u417 {
  position:absolute;
  left:1178px;
  top:87px;
  width:129px;
  height:55px;
  font-family:'STSongti-SC-Black', 'Songti SC Black', 'Songti SC';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FF9933;
}
#u418 {
  position:absolute;
  left:2px;
  top:15px;
  width:125px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u407.a {
}
#u407_img.a {
}
#u408.a {
}
#u409.a {
}
#u409_img.a {
}
#u410.a {
}
#u411.a {
}
#u411_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u412.a {
}
#u413.a {
}
#u413_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u414.a {
}
#u415.a {
}
#u415_img.a {
}
#u416.a {
}
#u417.a {
}
#u417_img.a {
}
#u418.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u407.b {
}
#u407_img.b {
}
#u408.b {
}
#u409.b {
}
#u409_img.b {
}
#u410.b {
}
#u411.b {
}
#u411_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u412.b {
}
#u413.b {
}
#u413_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u414.b {
}
#u415.b {
}
#u415_img.b {
}
#u416.b {
}
#u417.b {
}
#u417_img.b {
}
#u418.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u407.c {
}
#u407_img.c {
}
#u408.c {
}
#u409.c {
}
#u409_img.c {
}
#u410.c {
}
#u411.c {
}
#u411_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u412.c {
}
#u413.c {
}
#u413_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u414.c {
}
#u415.c {
}
#u415_img.c {
}
#u416.c {
}
#u417.c {
}
#u417_img.c {
}
#u418.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u407.d {
}
#u407_img.d {
}
#u408.d {
}
#u409.d {
}
#u409_img.d {
}
#u410.d {
}
#u411.d {
}
#u411_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u412.d {
}
#u413.d {
}
#u413_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u414.d {
}
#u415.d {
}
#u415_img.d {
}
#u416.d {
}
#u417.d {
}
#u417_img.d {
}
#u418.d {
}
