body {
  margin:0px;
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1425px 801px;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u376 {
  position:absolute;
  left:889px;
  top:383px;
  width:17px;
  height:16px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u377 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:212px;
}
#u378 {
  position:absolute;
  left:577px;
  top:290px;
  width:252px;
  height:202px;
}
#u379 {
  position:absolute;
  left:2px;
  top:93px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u380 {
  position:absolute;
  left:562px;
  top:578px;
  width:281px;
  height:40px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u381 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u382 {
  position:absolute;
  left:105px;
  top:99px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u383 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u384 {
  position:absolute;
  left:1175px;
  top:99px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u385 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
#u386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u386 {
  position:absolute;
  left:19px;
  top:10px;
  width:45px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u387 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u388 {
  position:absolute;
  left:185px;
  top:10px;
  width:274px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u390_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1214px;
  height:19px;
}
#u390 {
  position:absolute;
  left:105px;
  top:231px;
  width:1199px;
  height:4px;
}
#u391 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u392 {
  position:absolute;
  left:669px;
  top:99px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u393 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1425px 801px;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u376.a {
}
#u376_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u377.a {
}
#u378.a {
}
#u378_img.a {
}
#u379.a {
}
#u380.a {
}
#u380_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u381.a {
}
#u382.a {
}
#u382_img.a {
}
#u383.a {
}
#u384.a {
}
#u384_img.a {
}
#u385.a {
}
#u386.a {
}
#u386_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u387.a {
}
#u388.a {
}
#u388_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u389.a {
}
#u390.a {
}
#u390_img.a {
}
#u391.a {
}
#u392.a {
}
#u392_img.a {
}
#u393.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1425px 801px;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u376.b {
}
#u376_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u377.b {
}
#u378.b {
}
#u378_img.b {
}
#u379.b {
}
#u380.b {
}
#u380_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u381.b {
}
#u382.b {
}
#u382_img.b {
}
#u383.b {
}
#u384.b {
}
#u384_img.b {
}
#u385.b {
}
#u386.b {
}
#u386_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u387.b {
}
#u388.b {
}
#u388_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u389.b {
}
#u390.b {
}
#u390_img.b {
}
#u391.b {
}
#u392.b {
}
#u392_img.b {
}
#u393.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1425px 801px;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u376.c {
}
#u376_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u377.c {
}
#u378.c {
}
#u378_img.c {
}
#u379.c {
}
#u380.c {
}
#u380_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u381.c {
}
#u382.c {
}
#u382_img.c {
}
#u383.c {
}
#u384.c {
}
#u384_img.c {
}
#u385.c {
}
#u386.c {
}
#u386_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u387.c {
}
#u388.c {
}
#u388_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u389.c {
}
#u390.c {
}
#u390_img.c {
}
#u391.c {
}
#u392.c {
}
#u392_img.c {
}
#u393.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1425px 801px;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u376.d {
}
#u376_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u377.d {
}
#u378.d {
}
#u378_img.d {
}
#u379.d {
}
#u380.d {
}
#u380_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u381.d {
}
#u382.d {
}
#u382_img.d {
}
#u383.d {
}
#u384.d {
}
#u384_img.d {
}
#u385.d {
}
#u386.d {
}
#u386_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u387.d {
}
#u388.d {
}
#u388_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u389.d {
}
#u390.d {
}
#u390_img.d {
}
#u391.d {
}
#u392.d {
}
#u392_img.d {
}
#u393.d {
}
