body {
  margin:0px;
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1513px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u120 {
  position:absolute;
  left:757px;
  top:288px;
  width:55px;
  height:25px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:812px;
  top:289px;
  width:226px;
  height:30px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u122_input:disabled {
  color:grayText;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u123 {
  position:absolute;
  left:757px;
  top:379px;
  width:55px;
  height:25px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:812px;
  top:383px;
  width:100px;
  height:22px;
  font-size:16px;
}
#u126 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u125_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u127 {
  position:absolute;
  left:970px;
  top:383px;
  width:100px;
  height:22px;
  font-size:16px;
}
#u128 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u127_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u129 {
  position:absolute;
  left:844px;
  top:495px;
  width:140px;
  height:40px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u130 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u131 {
  position:absolute;
  left:1039px;
  top:120px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u132 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u133 {
  position:absolute;
  left:652px;
  top:120px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u134 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u135 {
  position:absolute;
  left:314px;
  top:120px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u136 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u137 {
  position:absolute;
  left:1384px;
  top:120px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u138 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u139 {
  position:absolute;
  left:19px;
  top:10px;
  width:77px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u141 {
  position:absolute;
  left:185px;
  top:10px;
  width:274px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1214px;
  height:19px;
}
#u143 {
  position:absolute;
  left:314px;
  top:252px;
  width:1199px;
  height:4px;
}
#u144 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1513px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u120.a {
}
#u120_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u121.a {
}
#u122.a {
  position:absolute;
  left:812px;
  top:289px;
  width:226px;
  height:30px;
}
#u122_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u123.a {
}
#u123_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u124.a {
}
#u125.a {
}
#u125_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u126.a {
}
#u127.a {
}
#u127_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u128.a {
}
#u129.a {
}
#u129_img.a {
}
#u130.a {
}
#u131.a {
}
#u131_img.a {
}
#u132.a {
}
#u133.a {
}
#u133_img.a {
}
#u134.a {
}
#u135.a {
}
#u135_img.a {
}
#u136.a {
}
#u137.a {
}
#u137_img.a {
}
#u138.a {
}
#u139.a {
}
#u139_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u140.a {
}
#u141.a {
}
#u141_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u142.a {
}
#u143.a {
}
#u143_img.a {
}
#u144.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1513px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u120.b {
}
#u120_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u121.b {
}
#u122.b {
  position:absolute;
  left:812px;
  top:289px;
  width:226px;
  height:30px;
}
#u122_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u123.b {
}
#u123_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u124.b {
}
#u125.b {
}
#u125_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u126.b {
}
#u127.b {
}
#u127_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u128.b {
}
#u129.b {
}
#u129_img.b {
}
#u130.b {
}
#u131.b {
}
#u131_img.b {
}
#u132.b {
}
#u133.b {
}
#u133_img.b {
}
#u134.b {
}
#u135.b {
}
#u135_img.b {
}
#u136.b {
}
#u137.b {
}
#u137_img.b {
}
#u138.b {
}
#u139.b {
}
#u139_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u140.b {
}
#u141.b {
}
#u141_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u142.b {
}
#u143.b {
}
#u143_img.b {
}
#u144.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1513px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u120.c {
}
#u120_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u121.c {
}
#u122.c {
  position:absolute;
  left:812px;
  top:289px;
  width:226px;
  height:30px;
}
#u122_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u123.c {
}
#u123_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u124.c {
}
#u125.c {
}
#u125_input.c {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u126.c {
}
#u127.c {
}
#u127_input.c {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u128.c {
}
#u129.c {
}
#u129_img.c {
}
#u130.c {
}
#u131.c {
}
#u131_img.c {
}
#u132.c {
}
#u133.c {
}
#u133_img.c {
}
#u134.c {
}
#u135.c {
}
#u135_img.c {
}
#u136.c {
}
#u137.c {
}
#u137_img.c {
}
#u138.c {
}
#u139.c {
}
#u139_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u140.c {
}
#u141.c {
}
#u141_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u142.c {
}
#u143.c {
}
#u143_img.c {
}
#u144.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1513px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u120.d {
}
#u120_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u121.d {
}
#u122.d {
  position:absolute;
  left:812px;
  top:289px;
  width:226px;
  height:30px;
}
#u122_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u123.d {
}
#u123_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u124.d {
}
#u125.d {
}
#u125_input.d {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u126.d {
}
#u127.d {
}
#u127_input.d {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u128.d {
}
#u129.d {
}
#u129_img.d {
}
#u130.d {
}
#u131.d {
}
#u131_img.d {
}
#u132.d {
}
#u133.d {
}
#u133_img.d {
}
#u134.d {
}
#u135.d {
}
#u135_img.d {
}
#u136.d {
}
#u137.d {
}
#u137_img.d {
}
#u138.d {
}
#u139.d {
}
#u139_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u140.d {
}
#u141.d {
}
#u141_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u142.d {
}
#u143.d {
}
#u143_img.d {
}
#u144.d {
}
