body {
  margin:0px;
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:100% 100%;
  position:static;
  left:auto;
  width:100%;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u304 {
  position:absolute;
  left:548px;
  top:306px;
  width:55px;
  height:25px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u305 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u306 {
  position:absolute;
  left:603px;
  top:307px;
  width:226px;
  height:30px;
}
#u306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u306_input:disabled {
  color:grayText;
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u307 {
  position:absolute;
  left:548px;
  top:397px;
  width:55px;
  height:25px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u309 {
  position:absolute;
  left:603px;
  top:401px;
  width:100px;
  height:22px;
  font-size:16px;
}
#u310 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u309_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u311 {
  position:absolute;
  left:761px;
  top:401px;
  width:100px;
  height:22px;
  font-size:16px;
}
#u312 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u311_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u313 {
  position:absolute;
  left:636px;
  top:523px;
  width:140px;
  height:40px;
  font-family:'STSongti-SC-Black', 'Songti SC Black', 'Songti SC';
  font-weight:900;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u314 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u315 {
  position:absolute;
  left:105px;
  top:99px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u316 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u317 {
  position:absolute;
  left:1175px;
  top:99px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u318 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u319 {
  position:absolute;
  left:19px;
  top:10px;
  width:45px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u321 {
  position:absolute;
  left:185px;
  top:10px;
  width:274px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u322 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u323_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1214px;
  height:19px;
}
#u323 {
  position:absolute;
  left:105px;
  top:231px;
  width:1199px;
  height:4px;
}
#u324 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u325 {
  position:absolute;
  left:669px;
  top:99px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u326 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1425px 801px;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u304.a {
}
#u304_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u305.a {
}
#u306.a {
  position:absolute;
  left:603px;
  top:307px;
  width:226px;
  height:30px;
}
#u306_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u307.a {
}
#u307_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u308.a {
}
#u309.a {
}
#u309_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u310.a {
}
#u311.a {
}
#u311_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u312.a {
}
#u313.a {
}
#u313_img.a {
}
#u314.a {
}
#u315.a {
}
#u315_img.a {
}
#u316.a {
}
#u317.a {
}
#u317_img.a {
}
#u318.a {
}
#u319.a {
}
#u319_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u320.a {
}
#u321.a {
}
#u321_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u322.a {
}
#u323.a {
}
#u323_img.a {
}
#u324.a {
}
#u325.a {
}
#u325_img.a {
}
#u326.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1425px 801px;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u304.b {
}
#u304_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u305.b {
}
#u306.b {
  position:absolute;
  left:603px;
  top:307px;
  width:226px;
  height:30px;
}
#u306_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u307.b {
}
#u307_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u308.b {
}
#u309.b {
}
#u309_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u310.b {
}
#u311.b {
}
#u311_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u312.b {
}
#u313.b {
}
#u313_img.b {
}
#u314.b {
}
#u315.b {
}
#u315_img.b {
}
#u316.b {
}
#u317.b {
}
#u317_img.b {
}
#u318.b {
}
#u319.b {
}
#u319_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u320.b {
}
#u321.b {
}
#u321_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u322.b {
}
#u323.b {
}
#u323_img.b {
}
#u324.b {
}
#u325.b {
}
#u325_img.b {
}
#u326.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1425px 801px;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u304.c {
}
#u304_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u305.c {
}
#u306.c {
  position:absolute;
  left:603px;
  top:307px;
  width:226px;
  height:30px;
}
#u306_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u307.c {
}
#u307_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u308.c {
}
#u309.c {
}
#u309_input.c {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u310.c {
}
#u311.c {
}
#u311_input.c {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u312.c {
}
#u313.c {
}
#u313_img.c {
}
#u314.c {
}
#u315.c {
}
#u315_img.c {
}
#u316.c {
}
#u317.c {
}
#u317_img.c {
}
#u318.c {
}
#u319.c {
}
#u319_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u320.c {
}
#u321.c {
}
#u321_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u322.c {
}
#u323.c {
}
#u323_img.c {
}
#u324.c {
}
#u325.c {
}
#u325_img.c {
}
#u326.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1425px 801px;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u304.d {
}
#u304_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u305.d {
}
#u306.d {
  position:absolute;
  left:603px;
  top:307px;
  width:226px;
  height:30px;
}
#u306_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u307.d {
}
#u307_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u308.d {
}
#u309.d {
}
#u309_input.d {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u310.d {
}
#u311.d {
}
#u311_input.d {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u312.d {
}
#u313.d {
}
#u313_img.d {
}
#u314.d {
}
#u315.d {
}
#u315_img.d {
}
#u316.d {
}
#u317.d {
}
#u317_img.d {
}
#u318.d {
}
#u319.d {
}
#u319_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u320.d {
}
#u321.d {
}
#u321_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u322.d {
}
#u323.d {
}
#u323_img.d {
}
#u324.d {
}
#u325.d {
}
#u325_img.d {
}
#u326.d {
}
