body {
  margin:0px;
  background-image:url('../../images/index/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1900px 950px;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:28px;
  color:#000000;
}
#u0 {
  position:absolute;
  left:728px;
  top:109px;
  width:377px;
  height:40px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:28px;
  color:#000000;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2 {
  position:absolute;
  left:728px;
  top:231px;
  width:58px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:774px;
  top:231px;
  width:300px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  font-family:'ArialHebrew', 'Arial Hebrew';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5 {
  position:absolute;
  left:728px;
  top:364px;
  width:58px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:774px;
  top:364px;
  width:300px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  font-family:'ArialHebrew', 'Arial Hebrew';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8 {
  position:absolute;
  left:845px;
  top:503px;
  width:143px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:139px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/index/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1900px 950px;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u0_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:28px;
  color:#000000;
}
#u1.a {
}
#u2.a {
}
#u2_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u3.a {
}
#u4.a {
  position:absolute;
  left:774px;
  top:231px;
  width:300px;
  height:25px;
}
#u4_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  font-family:'ArialHebrew', 'Arial Hebrew';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u5.a {
}
#u5_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6.a {
}
#u7.a {
  position:absolute;
  left:774px;
  top:364px;
  width:300px;
  height:25px;
}
#u7_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  font-family:'ArialHebrew', 'Arial Hebrew';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u8.a {
}
#u8_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u9.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/index/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1900px 950px;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
}
#u0_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:28px;
  color:#000000;
}
#u1.b {
}
#u2.b {
}
#u2_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u3.b {
}
#u4.b {
  position:absolute;
  left:774px;
  top:231px;
  width:300px;
  height:25px;
}
#u4_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  font-family:'ArialHebrew', 'Arial Hebrew';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u5.b {
}
#u5_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6.b {
}
#u7.b {
  position:absolute;
  left:774px;
  top:364px;
  width:300px;
  height:25px;
}
#u7_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  font-family:'ArialHebrew', 'Arial Hebrew';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u8.b {
}
#u8_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u9.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/index/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1900px 950px;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.c {
}
#u0_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:28px;
  color:#000000;
}
#u1.c {
}
#u2.c {
}
#u2_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u3.c {
}
#u4.c {
  position:absolute;
  left:774px;
  top:231px;
  width:300px;
  height:25px;
}
#u4_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  font-family:'ArialHebrew', 'Arial Hebrew';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u5.c {
}
#u5_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6.c {
}
#u7.c {
  position:absolute;
  left:774px;
  top:364px;
  width:300px;
  height:25px;
}
#u7_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  font-family:'ArialHebrew', 'Arial Hebrew';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u8.c {
}
#u8_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u9.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/index/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1900px 950px;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.d {
}
#u0_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:28px;
  color:#000000;
}
#u1.d {
}
#u2.d {
}
#u2_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u3.d {
}
#u4.d {
  position:absolute;
  left:774px;
  top:231px;
  width:300px;
  height:25px;
}
#u4_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  font-family:'ArialHebrew', 'Arial Hebrew';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u5.d {
}
#u5_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6.d {
}
#u7.d {
  position:absolute;
  left:774px;
  top:364px;
  width:300px;
  height:25px;
}
#u7_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  font-family:'ArialHebrew', 'Arial Hebrew';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u8.d {
}
#u8_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.266666666666667);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u9.d {
}
