body {
  margin:0px;
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1516px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u289 {
  position:absolute;
  left:881px;
  top:84px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u290 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u291 {
  position:absolute;
  left:1387px;
  top:84px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u292 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u293 {
  position:absolute;
  left:19px;
  top:10px;
  width:45px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u294 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u295 {
  position:absolute;
  left:185px;
  top:10px;
  width:274px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1214px;
  height:19px;
}
#u297 {
  position:absolute;
  left:317px;
  top:216px;
  width:1199px;
  height:4px;
}
#u298 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u299 {
  position:absolute;
  left:317px;
  top:84px;
  width:129px;
  height:55px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u300 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1516px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u289.a {
}
#u289_img.a {
}
#u290.a {
}
#u291.a {
}
#u291_img.a {
}
#u292.a {
}
#u293.a {
}
#u293_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u294.a {
}
#u295.a {
}
#u295_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u296.a {
}
#u297.a {
}
#u297_img.a {
}
#u298.a {
}
#u299.a {
}
#u299_img.a {
}
#u300.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1516px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u289.b {
}
#u289_img.b {
}
#u290.b {
}
#u291.b {
}
#u291_img.b {
}
#u292.b {
}
#u293.b {
}
#u293_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u294.b {
}
#u295.b {
}
#u295_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u296.b {
}
#u297.b {
}
#u297_img.b {
}
#u298.b {
}
#u299.b {
}
#u299_img.b {
}
#u300.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1516px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u289.c {
}
#u289_img.c {
}
#u290.c {
}
#u291.c {
}
#u291_img.c {
}
#u292.c {
}
#u293.c {
}
#u293_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u294.c {
}
#u295.c {
}
#u295_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u296.c {
}
#u297.c {
}
#u297_img.c {
}
#u298.c {
}
#u299.c {
}
#u299_img.c {
}
#u300.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 900px;
  position:static;
  left:auto;
  width:1516px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u289.d {
}
#u289_img.d {
}
#u290.d {
}
#u291.d {
}
#u291_img.d {
}
#u292.d {
}
#u293.d {
}
#u293_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u294.d {
}
#u295.d {
}
#u295_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u296.d {
}
#u297.d {
}
#u297_img.d {
}
#u298.d {
}
#u299.d {
}
#u299_img.d {
}
#u300.d {
}
