body {
  margin:0px;
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:100% 100%;
  position:static;
  left:auto;
  width:100%;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u679 {
  position:absolute;
  left:611px;
  top:139px;
  width:108px;
  height:53px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u680 {
  position:absolute;
  left:2px;
  top:-6px;
  width:104px;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u681 {
  position:absolute;
  left:204px;
  top:139px;
  width:108px;
  height:53px;
  font-family:'STSongti-SC-Black', 'Songti SC Black', 'Songti SC';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u682 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u683 {
  position:absolute;
  left:1018px;
  top:139px;
  width:108px;
  height:53px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u684 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u685 {
  position:absolute;
  left:19px;
  top:10px;
  width:77px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u687 {
  position:absolute;
  left:185px;
  top:10px;
  width:274px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:937px;
  height:19px;
}
#u689 {
  position:absolute;
  left:204px;
  top:265px;
  width:922px;
  height:4px;
}
#u690 {
  position:absolute;
  left:2px;
  top:-6px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u691 {
  position:absolute;
  left:581px;
  top:356px;
  width:55px;
  height:25px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u693 {
  position:absolute;
  left:622px;
  top:357px;
  width:173px;
  height:28px;
}
#u693_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u693_input:disabled {
  color:grayText;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u694 {
  position:absolute;
  left:581px;
  top:442px;
  width:55px;
  height:25px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u696 {
  position:absolute;
  left:622px;
  top:446px;
  width:76px;
  height:22px;
  font-size:16px;
}
#u697 {
  position:absolute;
  left:16px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u696_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u698 {
  position:absolute;
  left:743px;
  top:446px;
  width:76px;
  height:22px;
  font-size:16px;
}
#u699 {
  position:absolute;
  left:16px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u698_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:49px;
}
#u700 {
  position:absolute;
  left:655px;
  top:536px;
  width:106px;
  height:38px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u701 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702 {
  position:absolute;
  left:-52px;
  top:536px;
  width:1467px;
  height:1px;
}
#u703 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1463px;
  visibility:hidden;
  word-wrap:break-word;
}
