body {
  margin:0px;
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:100% 100%;
  position:static;
  left:auto;
  width:100%;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u30 {
  position:absolute;
  left:581px;
  top:356px;
  width:55px;
  height:25px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:622px;
  top:357px;
  width:173px;
  height:28px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u32_input:disabled {
  color:grayText;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u33 {
  position:absolute;
  left:581px;
  top:442px;
  width:55px;
  height:25px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:622px;
  top:446px;
  width:76px;
  height:22px;
  font-size:16px;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:743px;
  top:446px;
  width:76px;
  height:22px;
  font-size:16px;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:49px;
}
#u39 {
  position:absolute;
  left:655px;
  top:536px;
  width:106px;
  height:38px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u41 {
  position:absolute;
  left:461px;
  top:139px;
  width:108px;
  height:53px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u43 {
  position:absolute;
  left:204px;
  top:139px;
  width:108px;
  height:53px;
  font-family:'STSongti-SC-Black', 'Songti SC Black', 'Songti SC';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u45 {
  position:absolute;
  left:756px;
  top:139px;
  width:108px;
  height:53px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:64px;
}
#u47 {
  position:absolute;
  left:1018px;
  top:139px;
  width:108px;
  height:53px;
  font-family:'SnellRoundhand-Black', 'Snell Roundhand Black', 'Snell Roundhand';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:937px;
  height:19px;
}
#u49 {
  position:absolute;
  left:204px;
  top:265px;
  width:922px;
  height:4px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-6px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:-52px;
  top:536px;
  width:1467px;
  height:1px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u53 {
  position:absolute;
  left:19px;
  top:10px;
  width:77px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u55 {
  position:absolute;
  left:185px;
  top:10px;
  width:274px;
  height:22px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1425px 801px;
  position:static;
  left:auto;
  width:1363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u30.a {
}
#u30_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u31.a {
}
#u32.a {
  position:absolute;
  left:622px;
  top:357px;
  width:173px;
  height:28px;
}
#u32_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u33.a {
}
#u33_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u34.a {
}
#u35.a {
}
#u35_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36.a {
}
#u37.a {
}
#u37_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38.a {
}
#u39.a {
}
#u39_img.a {
}
#u40.a {
}
#u41.a {
}
#u41_img.a {
}
#u42.a {
}
#u43.a {
}
#u43_img.a {
}
#u44.a {
}
#u45.a {
}
#u45_img.a {
}
#u46.a {
}
#u47.a {
}
#u47_img.a {
}
#u48.a {
}
#u49.a {
}
#u49_img.a {
}
#u50.a {
}
#u51.a {
}
#u51_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.a {
}
#u53.a {
}
#u53_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u54.a {
}
#u55.a {
}
#u55_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u56.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1425px 801px;
  position:static;
  left:auto;
  width:1363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u30.b {
}
#u30_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u31.b {
}
#u32.b {
  position:absolute;
  left:622px;
  top:357px;
  width:173px;
  height:28px;
}
#u32_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u33.b {
}
#u33_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u34.b {
}
#u35.b {
}
#u35_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36.b {
}
#u37.b {
}
#u37_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38.b {
}
#u39.b {
}
#u39_img.b {
}
#u40.b {
}
#u41.b {
}
#u41_img.b {
}
#u42.b {
}
#u43.b {
}
#u43_img.b {
}
#u44.b {
}
#u45.b {
}
#u45_img.b {
}
#u46.b {
}
#u47.b {
}
#u47_img.b {
}
#u48.b {
}
#u49.b {
}
#u49_img.b {
}
#u50.b {
}
#u51.b {
}
#u51_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.b {
}
#u53.b {
}
#u53_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u54.b {
}
#u55.b {
}
#u55_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u56.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1425px 801px;
  position:static;
  left:auto;
  width:1363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u30.c {
}
#u30_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u31.c {
}
#u32.c {
  position:absolute;
  left:622px;
  top:357px;
  width:173px;
  height:28px;
}
#u32_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u33.c {
}
#u33_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u34.c {
}
#u35.c {
}
#u35_input.c {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36.c {
}
#u37.c {
}
#u37_input.c {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38.c {
}
#u39.c {
}
#u39_img.c {
}
#u40.c {
}
#u41.c {
}
#u41_img.c {
}
#u42.c {
}
#u43.c {
}
#u43_img.c {
}
#u44.c {
}
#u45.c {
}
#u45_img.c {
}
#u46.c {
}
#u47.c {
}
#u47_img.c {
}
#u48.c {
}
#u49.c {
}
#u49_img.c {
}
#u50.c {
}
#u51.c {
}
#u51_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.c {
}
#u53.c {
}
#u53_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u54.c {
}
#u55.c {
}
#u55_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u56.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/leader/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1425px 801px;
  position:static;
  left:auto;
  width:1363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u30.d {
}
#u30_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u31.d {
}
#u32.d {
  position:absolute;
  left:622px;
  top:357px;
  width:173px;
  height:28px;
}
#u32_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background-color:rgba(255, 255, 255, 0.156862745098039);
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u33.d {
}
#u33_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u34.d {
}
#u35.d {
}
#u35_input.d {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36.d {
}
#u37.d {
}
#u37_input.d {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38.d {
}
#u39.d {
}
#u39_img.d {
}
#u40.d {
}
#u41.d {
}
#u41_img.d {
}
#u42.d {
}
#u43.d {
}
#u43_img.d {
}
#u44.d {
}
#u45.d {
}
#u45_img.d {
}
#u46.d {
}
#u47.d {
}
#u47_img.d {
}
#u48.d {
}
#u49.d {
}
#u49_img.d {
}
#u50.d {
}
#u51.d {
}
#u51_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.d {
}
#u53.d {
}
#u53_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u54.d {
}
#u55.d {
}
#u55_div.d {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:16px;
}
#u56.d {
}
